@model IEnumerable<WebStore.ViewModels.SectionViewModel>           

 <!-- CATEGORY-MENU-LIST START -->
<div class="left-category-menu hidden-sm hidden-xs">
    <div class="left-product-cat">
        <div class="category-heading">
            <h2>Categories</h2>
        </div>
        
        
        <div class="category-menu-list">

            @foreach (var parent_section in Model)
            {
                if (parent_section.ChildSections.Count > 0)
                {
                    <div class="arrow-plus">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#@parent_section.GetHashCode()">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    @parent_section.Name
                                </a>
                            </h4>
                        </div>

                        @*<a asp-controller="Catalog" asp-action="Index">@parent_section.Name</a>*@
                        <!--  MEGA MENU START -->


                        <div class="cat-left-drop-menu" id="@parent_section.GetHashCode()">
                            <div class="cat-left-drop-menu-left">
                                <ul>
                                    @foreach (var child_section in parent_section.ChildSections)
                                    {
                                        <li>
                                            <a asp-controller="Catalog" asp-action="Index"
                                               asp-route-SectionId="@child_section.Id">
                                                @child_section.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- MEGA MENU END -->
                    </div>
                }
                else
                {
                    <ul>
                         <!-- Single menu start -->
                         <li>
                             <a asp-controller="Catalog" asp-action="Index"
                                asp-route-SectionId="@parent_section.Id">
                             @parent_section.Name
                             </a>
                         </li>
                    </ul>
                }
            }
        </div>
    </div>
</div>
<!-- END CATEGORY-MENU-LIST -->